

$color-darkest: #1f2329;

$color-dark: #2f343d;

$color-dark-medium: #414852;

$color-dark-light: #6c727a;

$color-gray: #9ea2a8;

$color-gray-medium: #cbced1;

$color-gray-light: #e1e5e8;

$color-gray-lightest: #f2f3f5;

$color-black: #000;

$color-white: #fff;

$rc-color-error: #f5455c;

$rc-color-error-light: #e1364c;

$rc-color-alert: #ffd21f;

$rc-color-alert-light: #f6c502;

$rc-color-success: #2de0a5;

$rc-color-success-light: #25d198;

$rc-color-button-primary: #1d74f5;

$rc-color-button-primary-light: #175cc4;

$rc-color-alert-message-primary: #1d74f5;

$rc-color-alert-message-primary-background: #f1f6ff;

$rc-color-alert-message-secondary: #7ca52b;

$rc-color-alert-message-secondary-background: #fafff1;

$rc-color-alert-message-warning: #d52d24;

$rc-color-alert-message-warning-background: #fff3f3;