<div>

  <h1 class="main-headline">Meine Routen</h1>

  <ul class="ways">
    <li *ngFor="let way of ways" class="way">
      <a [routerLink]="['details', way.id]">

        <h5 class="way__title">{{way.title || 'unbenannt'}}</h5>
        <span class="way__description">{{way.stations | stationPreview:2}}</span>

      </a>
    </li>
  </ul>

  <div *ngIf="ways.length === 0" class="nothing-to-see-here-notice">
    Keine Routen vorhanden.<br /> 
    Um eine neue Route anzulegen nutze den <span class="icon-icon_add nothing-to-see-here-notice__icon"></span> Button. 
  </div>

  <div class="bbar">
      <button class="icon-button icon-icon_add icon-button--main-bbar" (click)="onClickNewButton($event)"></button>
  </div>

</div>
