<div class="tbar">
  <a class="icon-button icon-button--back icon-icon_back" [routerLink]="['/meine-routen']"></a>
</div>


<div *ngIf="way">
  <h1 class="main-headline">{{way.title || 'Unbenannt'}}</h1>

  <stt-station 
    *ngFor="let station of way.stations"
    (favor)="onFavorClicked($event)"
    [station]="station" 
    [edit]="false"
    ></stt-station>


  

  <div *ngIf="way.stations.length === 0" class="nothing-to-see-here-notice">
      Keine Stationen vorhanden.<br /> 
      Um Stationen hinzuzufügen, gehe mit dem <span class="icon-icon_edit nothing-to-see-here-notice__icon"></span> Button in 
      den Bearbeiten-Modus. 
  </div>

  <div class="bbar">
      <a class="icon-button icon-button--main-bbar icon-icon_edit" [routerLink]="['/meine-routen', 'details', way.id, 'bearbeiten']"></a>
  </div>

</div>