<div *ngIf="way">
  
  <input [(ngModel)]="way.title" (change)="onTitleChanged()" placeholder="Titel">

  <div class="stations">
    <stt-station 
      *ngFor="let station of way.stations" 
      [station]="station" 
      [edit]="true"
      (remove)="onRemoveStationClicked($event)"></stt-station>
  </div>


  <button (click)="onAddStationClicked()" class="button button--large">Station hinzufügen</button>
  <a [routerLink]="['/meine-routen', 'details', way.id]" class="button button--large">Fertig</a>
  <button (click)="onKillWayClicked()" class="button">Route "{{way.title}}" löschen</button>

  <stt-station-search 
    *ngIf="isStationSerach" 
    (canceled)="onAddStationCanceled()"
    (selected)="onStationSelected($event)"></stt-station-search>
</div>  
