/* You can add global styles to this file, and also import other style files */

@import 'style/colors';
@import 'style/button';
@import 'style/icons';

html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    background-color: $color-dark;
    color: $color-white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

.main-headline {
    border-top: 1px solid $color-white;
    border-bottom: 1px solid $color-white;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input {
    width: 100%;
    border: none;
    border-bottom: 8px solid $rc-color-alert;
    font-size: 20px;
    padding: 12px 7px;
    margin: 20px 0;
    color: $color-dark;
}