<div *ngIf="edit" class="container container--edit">
  <span class="federal-state federal-state--edit">{{station.federalState}}</span>
  <strong class="station-name station-name--edit">{{station.name}}</strong>
  <button (click)="onRemoveClicked()" class="remove-button icon-button icon-button--xs icon-icon_garbage"></button>
</div>


<div *ngIf="!edit" class="container">
  
  <div class="header header--sticky" [ngClass]="facilities | facilityOutOfOrderAlarm:station.hasSteplessAccess:'header--ok':'header--alarm'">    
    <span class="federal-state">{{station.federalState}}</span>
    <strong class="station-name">{{station.name}}</strong>
    <button class="refresh-button icon-refresh" (click)="onRefreshClicked()"></button>
  </div>

  <div class="facilities-container" *ngIf="facilities">
  
    <div *ngIf="facilities.length === 0">
      Keine Fahrstühle bekannt.
      <span *ngIf="station.hasSteplessAccess==='yes'">Der Bahnhof ist ohne Treppen erreichbar.</span>
      <span *ngIf="station.hasSteplessAccess!=='yes'">Der Bahnhof ist nicht ohne Treppen erreichbar.</span>
    </div>
    
    <div *ngIf="facilities.length > 0">
        <stt-facility
          *ngFor="let facility of facilities | favorFilter:station.favorFacilities"
          [facility]="facility"
          [isPreview]="true"></stt-facility>
        <div class="nothing-to-preview">Läuft.</div>
    </div>

    <div class="details-button-container" *ngIf="facilities.length > 0"> 
      <button (click)="onToggleDetailsVisible()" 
              class="details-button" 
              [ngClass]="detailsVisible ? 'details-button--selected' : ''">alle ({{facilities.length}})</button>
    </div>

</div>


<div class="facilities-container facilities-container--details" *ngIf="detailsVisible">
  <stt-facility 
    *ngFor="let facility of facilities" 
    [facility]="facility" 
    [favorFacilities]="station.favorFacilities"
    (favor)="onFavorFacilityClicked($event)"></stt-facility>
</div>

</div>